<h1 class="header">Login to Clark</h1>

<%= form_tag sessions_path do |form| %>

  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Log in" %>
  </div>
<% end %>

<p class="something_else">
<%= link_to 'Sign up Instead', new_user_path %>
</p>